@model IEnumerable<User>
<main>
    <h2>Games</h2>
    <table class="table">
        <tr>
            <th>Game</th>
            <th>Download Link</th>
            <th>Leaderboards</th>
        </tr>
        <tr>
            <td class="align-middle">Ship, Captain, and Crew</td>
            <td class="align-middle">Coming Soon</td>
            <td class="align-middle"><a asp-area="" asp-controller="Games" asp-action="ShipCaptainAndCrew">View Leaderboards</a></td>
        </tr>
    </table>
</main>